<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影详情</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/movieDetail.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userMovieDetail.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/movieDetail.js"></script>
    <script src="/js/userMovieDetail.js"></script>
</head>
<body>
<div class="nav-top-container" style="margin-bottom: 40px">
    <div id="alertWindow" style="display:none"></div>
<!--    <div class="nav-logo title">NJU-Se电影购票系统</div>-->
<!--    <ul class="nav nav-pills">-->
<!--        <li role="presentation"><a href="/user/home">首页</a></li>-->
<!--        <li role="presentation" class="active"><a href="/user/movie">电影</a></li>-->
<!--    </ul>-->
<!--    <div class="btn-group">-->
<!--        <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"-->
<!--                aria-expanded="false">-->
<!--            <img class="avatar-sm" src="/images/defaultAvatar.jpg"/>-->
<!--            <span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>-->
<!--        </button>-->
<!--        <ul class="dropdown-menu">-->
<!--            <li><a href="/user/buy">电影票</a></li>-->
<!--            <li><a href="/user/member">卡包</a></li>-->
<!--            <li><a href="/user/buyHistory">历史记录</a></li>-->
<!--            <li id="logout"><a href="#">登出</a></li>-->
<!--        </ul>-->
<!--    </div>-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/user/home"><b>NJU-SE影院管理系统</b></a>
            </div>
            <div>
                <!--向左对齐-->
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/user/home">首页</a></li>
                    <li class="active"><a href="/user/movie">电影</a></li>

                </ul>
                <!--向右对齐-->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            用户中心 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/buy">电影票</a></li>
                            <li><a href="/user/member">卡包</a></li>
                            <li><a href="/user/buyHistory">历史记录</a></li>
                            <li id="logout"><a href="#">登出</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>
<div>
    <div class="content-header">
        <img id="movie-img">
        <div class="movie-basic-info">
            <div><span class="title" id="movie-name"></span></div>
            <div style="margin-top: 20px;"><strong>简 介 ：</strong><span id="movie-description" class="gray-text"></span>
            </div>
            <div><strong>上 映 ：</strong><span id="movie-startDate"></span></div>
            <div><strong>类 型 ：</strong><span id="movie-type"></span></div>
            <div><strong>地 区 ：</strong><span id="movie-country"></span></div>
            <div><strong>语 言 ：</strong><span id="movie-language"></span></div>
            <div><strong>导 演 ：</strong><span id="movie-director"></span></div>
            <div><strong>主 演 ：</strong><span id="movie-starring"></span></div>
            <div><strong>编 剧 ：</strong><span id="movie-writer"></span></div>
            <div class="movie-operations">
                <button type="button" class="btn btn-warning" id="like-btn"><i class='icon-heart'></i><strong> 想 看</strong>
                </button>
            </div>
        </div>
    </div>
    <div class="seesion-container">
        <h1 id="none-hint" style="display: none;">暂无排片</h1>
        <div id="schedule" style="display: none;">
            <ul class="nav nav-tabs" id="schedule-date">
            </ul>

            <div class="table-wrapper">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>放映开始时间</th>
                        <th>放映结束时间</th>
                        <th>放映厅</th>
                        <th>票价（元）</th>
                        <th>选座购票</th>
                    </tr>
                    </thead>

                    <tbody id="schedule-body">
                    </tbody>
                </table>
                <h4 id="date-none-hint" style="display: none;">所选日期暂无排片</h4>
            </div>
        </div>
    </div>

</div>
</body>
</html>